
<app-banners ></app-banners>


  
<ng-container *ngFor="let l of list; let i = index">
  <app-movies [title]="category[i]" [movies]="l"></app-movies>
</ng-container>

 



  <!-- <app-movies [title]="type" [movies]="trendingMovies"></app-movies> -->

  <!-- <app-movies [title]="type" [movies]="actionMovies"></app-movies>
  <app-movies [title]="type" [movies]="thrillerMovies"></app-movies>
  <app-movies [title]="type" [movies]="comedyMovies"></app-movies>
  <app-movies [title]="type" [movies]="adventureMovies"></app-movies>
  <app-movies [title]="type" [movies]="animationMovies"></app-movies>
  <app-movies [title]="type" [movies]="scienceFictions"></app-movies>
  <app-movies [title]="type" [movies]="documentaryMovies"></app-movies> -->



<!-- <div class="row mt-4">
  <h5 class="text-white">Action Movies</h5>
  <div class="rowposter mt-3 p-2">
    <ng-container *ngFor="let a of actionMovies">
      <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
        [routerLink]="['/movie',a.id]">
    </ng-container>

  </div>

</div>

<div class="row mt-4">
  <h5 class="text-white">adventure Movies</h5>
  <div class="rowposter mt-3 p-2">
    <ng-container *ngFor="let a of adventureMovies">
      <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
        [routerLink]="['/movie',a.id]">
    </ng-container>

  </div>

</div>

<div class="row mt-4">
  <h5 class="text-white">Animation Movies</h5>
  <div class="rowposter mt-3 p-2">
    <ng-container *ngFor="let a of animationMovies">
      <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
        [routerLink]="['/movie',a.id]">
    </ng-container>

  </div>

</div>

<div class="row mt-4">
  <h5 class="text-white">Science-Fiction Movies</h5>
  <div class="rowposter mt-3 p-2">
    <ng-container *ngFor="let sf of scienceFictions">
      <img src="https://image.tmdb.org/t/p/original/{{ sf.poster_path }}" class="rowimg largeposter" alt="..."
        [routerLink]="['/movie',sf.id]">
    </ng-container>

  </div>

</div>


  <div class="row mt-4">
    <h5 class="text-white">Comedy Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let c of comedyMovies">
        <img src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',c.id]">
      </ng-container>

    </div>

  </div>

   <div class="row mt-4">
    <h5 class="text-white">Documentary Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let d of documentaryMovies">
        <img src="https://image.tmdb.org/t/p/original/{{ d.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',d.id]">
      </ng-container>

    </div>

  </div>

  <div class="row mt-4">
    <h5 class="text-white">Thriller Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let th of thrillerMovies">
        <img src="https://image.tmdb.org/t/p/original/{{ th.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',th.id]">
      </ng-container>

    </div>

  </div> -->